<main>
  
  <div class="post-item">
    <div class="post-image">
      <p><%= f.file_field :image, accept:'image/*' %></p>
    </div>
    <section class="post-title">
        <h2><%= f.text_field :title %></h2>
    <p> <%= f.text_area :body %></p>
    </section>
  </div>

</main>